<html>
	<head>
		{% if title %}
			<title>{{ title }} - Web Remote</title>
		{% else %}
			<title>Welcome to Web Remote</title>
		{% endif %}
	</head>
	<body>
		<div>
			<h1>HAHUB Remote</h1>
			<p> Last command: {{lastone}}</p>
				<table border="1">
					{% for g in commands.keys() %}
						<tr>
							<th> {{ g }} </th>
							{% for c in commands[g] %}
									<td width=50> <a href="/hacmdapi/v1.3/tasks/{{c}}">{{c}}</a> </td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>

