#
# This section defines operations including which device performs those and how
# Depends on how the devices are connected (which controls audio, channels, etc.)
#

#
# Now the macros
# These are basically convinience to the user
#
MACRO Channel:cnn 	scntv 1 2 0 2 OK
MACRO Channel:msnbc 	scntv 1 2 1 5 OK
MACRO Channel:sci 	scntv 1 2 5 8 OK
MACRO Channel:star+ 	scntv 3 7 0 6 OK
MACRO Channel:zee 	scntv 3 7 0 2 OK
MACRO Channel:set 	scntv 3 7 0 4 OK
