#
# This section defines operations including which device performs those and how
# Depends on how the devices are connected (which controls audio, channels, etc.)
#
CMD Power:uvon		U-Verse KEY_POWER
CMD Power:tvon		Sharp_Aquous KEY_POWER
CMD Power:wtvon		westing.conf KEY_POWER
CMD Power:rcvron 	RX-V675 KEY_POWER
CMD Scene:scntv 	RX-V675 KEY_TV
CMD Scene:scndvd 	RX-V675 KEY_DVD
CMD Scene:scnpc 	RX-V675 KEY_CD
CMD Scene:scnradio 	RX-V675 KEY_RADIO
CMD Scene:scnroku 	RX-V675 KEY_HDMI4
CMD Audio:v+ 		RX-V675 KEY_VOLUMEUP
CMD Audio:v- 		RX-V675 KEY_VOLUMEDOWN
CMD Audio:mute 		RX-V675 KEY_MUTE
CMD Channel:0		U-verse KEY_0
CMD Channel:1		U-verse KEY_1
CMD Channel:2		U-verse KEY_2
CMD Channel:3		U-verse KEY_3
CMD Channel:4		U-verse KEY_4
CMD Channel:5		U-verse KEY_5
CMD Channel:6		U-verse KEY_6
CMD Channel:7		U-verse KEY_7
CMD Channel:8		U-verse KEY_8
CMD Channel:9		U-verse KEY_9
CMD Arrows:OK		U-verse KEY_OK
CMD Arrows:up		U-verse KEY_UP
CMD Arrows:down		U-verse KEY_DOWN
CMD Arrows:left		U-verse KEY_LEFT
CMD Arrows:right	U-verse KEY_RIGHT
CMD Channel:guide	U-verse KEY_GUIDE
CMD Channel:ch-		U-verse KEY_CHPG-
CMD Channel:ch+		U-verse KEY_CHPG+
CMD Player:rew		U-verse KEY_REPLAY
CMD Player:fwd		U-verse KEY_FWD
CMD Player:ff		U-verse KEY_FF
CMD Player:rr		U-verse KEY_REW
CMD Player:play		U-verse KEY_PLAY
CMD Player:pause	U-verse KEY_PAUSE

#
# Now the macros
# These are basically convinience to the user
#
MACRO Power:allon 	scntv uvon tvon
