<html>
	<head>
		{% if title %}
			<title>{{ title }} - Web Remote</title>
		{% else %}
			<title>Welcome to Web Remote</title>
		{% endif %}
	</head>
	<body>
		<div>
			<h1>HAHUB Remote</h1>
			<p> Last command: {{lastone}}</p>
				<table border="1">
					{% for g in cmdlist %}
						<tr>
							<th> <p align=left> {{ g }} </left> </p>
							{% for c in commands[g] %}
									<td width=50>
											<button style="height:35px;width:90px" onclick="location.href='/hacmdHTML/v1.3/commands/{{c}}';">
											<font size=5> {{c}} </font>
											</button>
									</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>

